{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="jumbotron">
        Welcome {{ user }} you currently have {{ files|length }} Files. <br/>

        {% if files|length > 0 %}

        {% endif %}
        <table class="table table-bordered">
            <th>Your Files on the App</th>
            {% for file in files %}
                <tr>
                    <td>
                        <a href = "{{MEDIA_ROOT}}{{file.name}}">{{file.name}}</a> &nbsp;&nbsp;
                        {% if '.mp4' in file.name %}
                            <video width="320" height="240" controls>
                                <source src="/media{{file.name}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <form action="/sync_dropbox/" method="post">{% csrf_token %}
            <p><label for="id_file_name">File name:</label> <input id="id_file_name" class="form-control" maxlength="255" name="file_name" type="text" placeholder="Complete file path from your dropbox account"></p>
            <input class="btn btn-success" type="submit" value="Sync">
        </form>

        <br/>

        {% if dropbox_user != '' %}
            Would you like to sync some files ? <br/>
            Your Dropbox Files : <br/>
            <table class="table table-bordered">
                <th>Your Files on your DropBox Account</th>
                {% for file in dropbox_files %}
                    <tr>
                        <td>
                            {{ file }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            I see you have not registered a dropbox account with us , care to sync it with our app ? :) <br/>
            <a href="https://www.dropbox.com/home">Click here</a> to register a dropbox account OR <br/>
            <a href="/register_dropbox">Click here</a> to register with our api. <br/>
        {% endif %}
    </div>
{% endblock %}
