{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="jumbotron">
        Welcome {{ user }} <br/><br/>

        Steps to register with us.<br/>
        1. First <a class="btn btn-primary" href="{{authorize_url}}" target="_blank"> Click Here </a> <br/>
        2. Click "Allow" (you might have to log in first)<br/>
        3. Copy the authorization code.<br/>
        4. Enter the authorization code below<br/>

        <form action="/register_dropbox/" method="post">
            {% csrf_token %}
            <p><label for="id_auth_code">Auth code:</label> <input id="id_auth_code" class="form-control" maxlength="255" name="auth_code" type="text"></p>
            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    </div>

{% endblock %}