{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="/Users/sachin/amagi/amagi/amagi/static/stylesheet" href="style.css" />
    <title>{% block title %}DropBox App{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="jumbo.css" rel="/Users/sachin/amagi/amagi/amagi/static/stylesheet">
</head>

<body>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- BOOTSTRAP -->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DropBoxApp</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>

            {% if user.is_authenticated %}
                <div class="toptext" align="right" style="color:#e1e1e1;margin-top:8px;">
                    {% trans "Welcome " %} {{ user.username|title }} &nbsp;&nbsp;

                    <a class="btn btn-primary" href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> &nbsp;
                    <a class="btn btn-primary" href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>
                </div>
            {% else %}
                <form class="navbar-form navbar-right" method="post" action="/accounts/login/">
                    {% csrf_token %}
                    <div class="form-group">
                      <input id="id_username" name="username" type="text" placeholder="Username" class="form-control">
                    </div>
                    <div class="form-group">
                      <input id="id_password" name="password" type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                  </form>
            {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    
    <!-- BOOTSTRAP END -->
 

    <div id="header">
        {% block header %}
	<a href="/">{% trans "Home" %}</a> |

	<hr />
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        <hr />
        {% endblock %}
    </div>
</body>

</html>
