{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="jumbotron">
        For any queries contact: <br/>
        Sachin Prabhu <br/>
        Email : galacticsurfer@gmail.com <br/>
        Phone : +91 9986358053
    </div>
{% endblock %}
