{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="jumbotron">
        {% if user.is_authenticated %}
            Hello {{ user }} , You can sync your dropbox account if you haven't already <br/>
            You can do it <a class="btn btn-primary" href="/accounts/profile/">Here</a>
        {% else %}
            Welcome to the dropbox web app Please log in . <br/>
            If you dont have an account, <a class="btn btn-primary" href="/accounts/register">Sign up</a> !
        {% endif %}
    </div>
{% endblock %}
