{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="jumbotron">

        <form method="post" action=".">
          {% csrf_token %}
            <p><label for="id_old_password">Old password:</label> <input id="id_old_password" class="form-control" name="old_password" type="password"></p>
            <p><label for="id_new_password1">New password:</label> <input id="id_new_password1" class="form-control" name="new_password1" type="password"></p>
            <p><label for="id_new_password2">New password confirmation:</label> <input id="id_new_password2" class="form-control" name="new_password2" type="password"></p>

          <input type="submit" class="btn btn-success" value="Submit">
        </form>
    </div>
{% endblock %}
