{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="jumbotron">
        <form method="post" action=".">
            {% csrf_token %}
            <p class="required"><label for="id_username">Username:</label> <input id="id_username" class="form-control" maxlength="30" name="username" type="text"></p>
            <p class="required"><label for="id_email">E-mail:</label> <input id="id_email" class="form-control" name="email" type="text"></p>
            <p class="required"><label for="id_password1">Password:</label> <input id="id_password1" class="form-control" name="password1" type="password"></p>
            <p class="required"><label for="id_password2">Password (again):</label> <input id="id_password2" class="form-control" name="password2" type="password"></p>

            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
